In [36]:
import pandas as pd
sheets = pd.read_excel(r'C:\Users\Ibad\Documents\sample1.xlsx', sheet_name=[0, 1])
print("Contents of Sheet 1:")
print(sheets[0])
print("\n" + "-"*40 + "\n")
print("Contents of Sheet 2:")
print(sheets[1])

Contents of Sheet 1:
   Unnamed: 0 Unnamed: 1  Unnamed: 2 Unnamed: 3
0         NaN        NaN         NaN        NaN
1         NaN        NaN         NaN        NaN
2         NaN       Name  Department   Semester
3         NaN       Ibad          SE        5th
4         NaN      Hamza          SE        5th
5         NaN     Rashid          SE        5th
6         NaN       Taqi          SE        5th
7         NaN      Arqum          SE        5th
8         NaN       Umer          SE        5th

----------------------------------------

Contents of Sheet 2:
   Unnamed: 0 Unnamed: 1  Unnamed: 2 Unnamed: 3
0         NaN        NaN         NaN        NaN
1         NaN        NaN         NaN        NaN
2         NaN        NaN         NaN        NaN
3         NaN       Name  Department   Semester
4         NaN     Sameer          SE        3rd
5         NaN    Huzaifa         BBA        1st
6         NaN       Hadi          CS        1st
7         NaN      Ammar          CS        1st
8         NaN       Ibad          SE        5th
9         NaN       Anas          CS        8th

In [16]:
import pandas as pd
data = {
    'Math': [85, 92, 78, 90, 88],
    'Science': [89, 76, 91, 85, 94],
    'English': [93, 82, 88, 79, 87],
    'History': [80, 84, 76, 88, 91]}

index_labels = ['Ali', 'Amir', 'Kamran', 'Ibad', 'Arqum']
df = pd.DataFrame(data, index=index_labels)
print(df)

        Math  Science  English  History
Ali       85       89       93       80
Amir      92       76       82       84
Kamran    78       91       88       76
Ibad      90       85       79       88
Arqum     88       94       87       91

In [17]:
import pandas as pd
file_path = r'C:\Users\Ibad\Documents\sample1.xlsx'  
df = pd.read_excel(file_path)
print(df.iloc[:, :2])

   Unnamed: 0 Unnamed: 1
0         NaN        NaN
1         NaN        NaN
2         NaN       Name
3         NaN       Ibad
4         NaN      Hamza
5         NaN     Rashid
6         NaN       Taqi
7         NaN      Arqum
8         NaN       Umer

In [18]:
import pandas as pd
file_path = r'C:\Users\Ibad\Documents\sample1.xlsx'
df = pd.read_excel(file_path, skiprows=2)
print(df)

   Unnamed: 0 Unnamed: 1  Unnamed: 2 Unnamed: 3
0         NaN       Name  Department   Semester
1         NaN       Ibad          SE        5th
2         NaN      Hamza          SE        5th
3         NaN     Rashid          SE        5th
4         NaN       Taqi          SE        5th
5         NaN      Arqum          SE        5th
6         NaN       Umer          SE        5th

In [28]:
import pandas as pd
df = pd.read_csv('lung cancer data.csv')
df['GENDER'] = df['GENDER'].fillna('No Gender')
print(df.iloc[10:31])

       GENDER  AGE  SMOKING  YELLOW_FINGERS  ANXIETY  PEER_PRESSURE  \
10          F   61        2               2        2              2
11          M   72        1               1        1              1
12          F   60        2               1        1              1
13          M   58        2               1        1              1
14          M   69        2               1        1              1
15          F   48        1               2        2              2
16          M   75        2               1        1              1
17          M   57        2               2        2              2
18          F   68        2               2        2              2
19          F   61        1               1        1              1
20          F   44        2               2        2              2
21          F   64        1               2        2              2
22          F   21        2               1        1              1
23          M   60        2               1        1              1
24          M   72        2               2        2              2
25          M   65        1               2        2              1
26          F   61        2               2        2              1
27          M   69        1               1        1              2
28  No Gender   53        2               2        2              1
29          M   55        1               2        1              1
30          F   57        2               2        1              1

    CHRONIC DISEASE  FATIGUE   ALLERGY   WHEEZING  ALCOHOL CONSUMING  \
10                2         2         1         2                  1
11                2         2         2         2                  2
12                1         2         1         1                  1
13                1         2         2         2                  2
14                1         1         2         2                  2
15                2         2         2         2                  1
16                2         1         2         2                  2
17                2         1         1         1                  2
18                2         2         1         1                  1
19                2         2         1         1                  1
20                2         2         1         1                  1
21                1         1         2         2                  1
22                2         2         2         1                  1
23                1         2         2         2                  2
24                2         1         2         2                  2
25                1         2         1         2                  2
26                1         2         2         1                  2
27                1         2         1         2                  1
28                2         1         1         2                  2
29                1         2         1         2                  2
30                1         1         1         1                  1

    COUGHING  SHORTNESS OF BREATH  SWALLOWING DIFFICULTY  CHEST PAIN  \
10         2                    2                      2           1
11         2                    2                      1           2
12         1                    2                      1           1
13         2                    2                      1           2
14         2                    1                      1           2
15         2                    2                      2           1
16         2                    2                      1           2
17         1                    1                      2           2
18         2                    2                      1           1
19         1                    2                      1           1
20         1                    2                      2           1
21         2                    1                      2           1
22         1                    2                      1           1
23         2                    2                      1           2
24         2                    1                      2           2
25         2                    2                      2           2
26         1                    2                      2           2
27         2                    2                      1           2
28         1                    2                      2           2
29         2                    2                      1           1
30         1                    2                      1           1

   LUNG_CANCER
10         YES
11         YES
12          NO
13         YES
14          NO
15         YES
16         YES
17         YES
18         YES
19          NO
20         YES
21         YES
22          NO
23         YES
24         YES
25         YES
26         YES
27          NO
28         YES
29          NO
30          NO

In [37]:
import pandas as pd
import numpy as np

data = {'Age': [25, 36, 30, 27, 38, 42, 34],
        'Salary': [42000, 50000, 45000, 43000, 51000, 62000, 48000]}

df = pd.DataFrame(data)
df['Age_minmax'] = (df['Age'] - df['Age'].min()) / (df['Age'].max() - df['Age'].min())
df['Salary_minmax'] = (df['Salary'] - df['Salary'].min()) / (df['Salary'].max() - df['Salary'].min())

print("Min-Max Normalized Data:")
print(df[['Age', 'Salary', 'Age_minmax', 'Salary_minmax']])

Min-Max Normalized Data:
   Age  Salary  Age_minmax  Salary_minmax
0   25   42000    0.000000           0.00
1   36   50000    0.647059           0.40
2   30   45000    0.294118           0.15
3   27   43000    0.117647           0.05
4   38   51000    0.764706           0.45
5   42   62000    1.000000           1.00
6   34   48000    0.529412           0.30

In [38]:
df['Age_standardized'] = (df['Age'] - df['Age'].mean()) / df['Age'].std()
df['Salary_standardized'] = (df['Salary'] - df['Salary'].mean()) / df['Salary'].std()

print("Standardized Data:")
print(df[['Age', 'Salary', 'Age_standardized', 'Salary_standardized']])

Standardized Data:
   Age  Salary  Age_standardized  Salary_standardized
0   25   42000         -1.330145            -0.990994
1   36   50000          0.466718             0.189765
2   30   45000         -0.513389            -0.548209
3   27   43000         -1.003443            -0.843399
4   38   51000          0.793420             0.337360
5   42   62000          1.446825             1.960903
6   34   48000          0.140015            -0.105425

In [35]:
data_dict = {
    'First Score': [100, 90, np.nan, 95],
    'Second Score': [30, 45, 56, np.nan],
    'Third Score': [np.nan, 40, 80, 98]
}

df_scores = pd.DataFrame(data_dict)
df_scores_interpolated = df_scores.bfill()
print("Interpolated Data:")
print(df_scores_interpolated)

Interpolated Data:
   First Score  Second Score  Third Score
0        100.0          30.0         40.0
1         90.0          45.0         40.0
2         95.0          56.0         80.0
3         95.0           NaN         98.0

In [9]:
import pandas as pd
df = pd.read_csv('vgsales.csv')
print(df.iloc[0:16])
print(df.isnull()[0:11])

    Rank                         Name Platform    Year         Genre  \
0      1                   Wii Sports      Wii  2006.0        Sports
1      2            Super Mario Bros.      NES  1985.0      Platform
2      3               Mario Kart Wii      Wii  2008.0        Racing
3      4            Wii Sports Resort      Wii  2009.0        Sports
4      5     Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing
5      6                       Tetris       GB  1989.0        Puzzle
6      7        New Super Mario Bros.       DS  2006.0      Platform
7      8                     Wii Play      Wii  2006.0          Misc
8      9    New Super Mario Bros. Wii      Wii  2009.0      Platform
9     10                    Duck Hunt      NES  1984.0       Shooter
10    11                   Nintendogs       DS  2005.0    Simulation
11    12                Mario Kart DS       DS  2005.0        Racing
12    13  Pokemon Gold/Pokemon Silver       GB  1999.0  Role-Playing
13    14                      Wii Fit      Wii  2007.0        Sports
14    15                 Wii Fit Plus      Wii  2009.0        Sports
15    16           Kinect Adventures!     X360  2010.0          Misc

                 Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
0                 Nintendo     41.49     29.02      3.77         8.46
1                 Nintendo     29.08      3.58      6.81         0.77
2                      NaN     15.85     12.88      3.79         3.31
3                 Nintendo     15.75     11.01      3.28         2.96
4                 Nintendo     11.27      8.89     10.22         1.00
5                 Nintendo     23.20      2.26      4.22         0.58
6                      NaN     11.38      9.23      6.50         2.90
7                 Nintendo     14.03      9.20      2.93         2.85
8                      NaN     14.59      7.06      4.70         2.26
9                 Nintendo     26.93      0.63      0.28         0.47
10                Nintendo      9.07     11.00      1.93         2.75
11                     NaN      9.81      7.57      4.13         1.92
12                Nintendo      9.00      6.18      7.20         0.71
13                Nintendo      8.94      8.03      3.60         2.15
14                Nintendo      9.09      8.59      2.53         1.79
15  Microsoft Game Studios     14.97      4.94      0.24         1.67

    Global_Sales
0          82.74
1          40.24
2          35.82
3          33.00
4          31.37
5          30.26
6          30.01
7          29.02
8          28.62
9          28.31
10         24.76
11         23.42
12         23.10
13         22.72
14         22.00
15         21.82
     Rank   Name  Platform   Year  Genre  Publisher  NA_Sales  EU_Sales  \
0   False  False     False  False  False      False     False     False
1   False  False     False  False  False      False     False     False
2   False  False     False  False  False       True     False     False
3   False  False     False  False  False      False     False     False
4   False  False     False  False  False      False     False     False
5   False  False     False  False  False      False     False     False
6   False  False     False  False  False       True     False     False
7   False  False     False  False  False      False     False     False
8   False  False     False  False  False       True     False     False
9   False  False     False  False  False      False     False     False
10  False  False     False  False  False      False     False     False

    JP_Sales  Other_Sales  Global_Sales
0      False        False         False
1      False        False         False
2      False        False         False
3      False        False         False
4      False        False         False
5      False        False         False
6      False        False         False
7      False        False         False
8      False        False         False
9      False        False         False
10     False        False         False

In [10]:
import pandas as pd
df = pd.read_csv('vgsales.csv')
print(df.iloc[0:16])
print(df.notnull()[0:11])

    Rank                         Name Platform    Year         Genre  \
0      1                   Wii Sports      Wii  2006.0        Sports
1      2            Super Mario Bros.      NES  1985.0      Platform
2      3               Mario Kart Wii      Wii  2008.0        Racing
3      4            Wii Sports Resort      Wii  2009.0        Sports
4      5     Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing
5      6                       Tetris       GB  1989.0        Puzzle
6      7        New Super Mario Bros.       DS  2006.0      Platform
7      8                     Wii Play      Wii  2006.0          Misc
8      9    New Super Mario Bros. Wii      Wii  2009.0      Platform
9     10                    Duck Hunt      NES  1984.0       Shooter
10    11                   Nintendogs       DS  2005.0    Simulation
11    12                Mario Kart DS       DS  2005.0        Racing
12    13  Pokemon Gold/Pokemon Silver       GB  1999.0  Role-Playing
13    14                      Wii Fit      Wii  2007.0        Sports
14    15                 Wii Fit Plus      Wii  2009.0        Sports
15    16           Kinect Adventures!     X360  2010.0          Misc

                 Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
0                 Nintendo     41.49     29.02      3.77         8.46
1                 Nintendo     29.08      3.58      6.81         0.77
2                      NaN     15.85     12.88      3.79         3.31
3                 Nintendo     15.75     11.01      3.28         2.96
4                 Nintendo     11.27      8.89     10.22         1.00
5                 Nintendo     23.20      2.26      4.22         0.58
6                      NaN     11.38      9.23      6.50         2.90
7                 Nintendo     14.03      9.20      2.93         2.85
8                      NaN     14.59      7.06      4.70         2.26
9                 Nintendo     26.93      0.63      0.28         0.47
10                Nintendo      9.07     11.00      1.93         2.75
11                     NaN      9.81      7.57      4.13         1.92
12                Nintendo      9.00      6.18      7.20         0.71
13                Nintendo      8.94      8.03      3.60         2.15
14                Nintendo      9.09      8.59      2.53         1.79
15  Microsoft Game Studios     14.97      4.94      0.24         1.67

    Global_Sales
0          82.74
1          40.24
2          35.82
3          33.00
4          31.37
5          30.26
6          30.01
7          29.02
8          28.62
9          28.31
10         24.76
11         23.42
12         23.10
13         22.72
14         22.00
15         21.82
    Rank  Name  Platform  Year  Genre  Publisher  NA_Sales  EU_Sales  \
0   True  True      True  True   True       True      True      True
1   True  True      True  True   True       True      True      True
2   True  True      True  True   True      False      True      True
3   True  True      True  True   True       True      True      True
4   True  True      True  True   True       True      True      True
5   True  True      True  True   True       True      True      True
6   True  True      True  True   True      False      True      True
7   True  True      True  True   True       True      True      True
8   True  True      True  True   True      False      True      True
9   True  True      True  True   True       True      True      True
10  True  True      True  True   True       True      True      True

    JP_Sales  Other_Sales  Global_Sales
0       True         True          True
1       True         True          True
2       True         True          True
3       True         True          True
4       True         True          True
5       True         True          True
6       True         True          True
7       True         True          True
8       True         True          True
9       True         True          True
10      True         True          True

In [13]:
import pandas as pd
df = pd.read_csv('vgsales.csv')
print(df.iloc[0:16])
print(df.fillna(0)[0:16])

    Rank                         Name Platform    Year         Genre  \
0      1                   Wii Sports      Wii  2006.0        Sports
1      2            Super Mario Bros.      NES  1985.0      Platform
2      3               Mario Kart Wii      Wii  2008.0        Racing
3      4            Wii Sports Resort      Wii  2009.0        Sports
4      5     Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing
5      6                       Tetris       GB  1989.0        Puzzle
6      7        New Super Mario Bros.       DS  2006.0      Platform
7      8                     Wii Play      Wii  2006.0          Misc
8      9    New Super Mario Bros. Wii      Wii  2009.0      Platform
9     10                    Duck Hunt      NES  1984.0       Shooter
10    11                   Nintendogs       DS  2005.0    Simulation
11    12                Mario Kart DS       DS  2005.0        Racing
12    13  Pokemon Gold/Pokemon Silver       GB  1999.0  Role-Playing
13    14                      Wii Fit      Wii  2007.0        Sports
14    15                 Wii Fit Plus      Wii  2009.0        Sports
15    16           Kinect Adventures!     X360  2010.0          Misc

                 Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
0                 Nintendo     41.49     29.02      3.77         8.46
1                 Nintendo     29.08      3.58      6.81         0.77
2                      NaN     15.85     12.88      3.79         3.31
3                 Nintendo     15.75     11.01      3.28         2.96
4                 Nintendo     11.27      8.89     10.22         1.00
5                 Nintendo     23.20      2.26      4.22         0.58
6                      NaN     11.38      9.23      6.50         2.90
7                 Nintendo     14.03      9.20      2.93         2.85
8                      NaN     14.59      7.06      4.70         2.26
9                 Nintendo     26.93      0.63      0.28         0.47
10                Nintendo      9.07     11.00      1.93         2.75
11                     NaN      9.81      7.57      4.13         1.92
12                Nintendo      9.00      6.18      7.20         0.71
13                Nintendo      8.94      8.03      3.60         2.15
14                Nintendo      9.09      8.59      2.53         1.79
15  Microsoft Game Studios     14.97      4.94      0.24         1.67

    Global_Sales
0          82.74
1          40.24
2          35.82
3          33.00
4          31.37
5          30.26
6          30.01
7          29.02
8          28.62
9          28.31
10         24.76
11         23.42
12         23.10
13         22.72
14         22.00
15         21.82
    Rank                         Name Platform    Year         Genre  \
0      1                   Wii Sports      Wii  2006.0        Sports
1      2            Super Mario Bros.      NES  1985.0      Platform
2      3               Mario Kart Wii      Wii  2008.0        Racing
3      4            Wii Sports Resort      Wii  2009.0        Sports
4      5     Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing
5      6                       Tetris       GB  1989.0        Puzzle
6      7        New Super Mario Bros.       DS  2006.0      Platform
7      8                     Wii Play      Wii  2006.0          Misc
8      9    New Super Mario Bros. Wii      Wii  2009.0      Platform
9     10                    Duck Hunt      NES  1984.0       Shooter
10    11                   Nintendogs       DS  2005.0    Simulation
11    12                Mario Kart DS       DS  2005.0        Racing
12    13  Pokemon Gold/Pokemon Silver       GB  1999.0  Role-Playing
13    14                      Wii Fit      Wii  2007.0        Sports
14    15                 Wii Fit Plus      Wii  2009.0        Sports
15    16           Kinect Adventures!     X360  2010.0          Misc

                 Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
0                 Nintendo     41.49     29.02      3.77         8.46
1                 Nintendo     29.08      3.58      6.81         0.77
2                        0     15.85     12.88      3.79         3.31
3                 Nintendo     15.75     11.01      3.28         2.96
4                 Nintendo     11.27      8.89     10.22         1.00
5                 Nintendo     23.20      2.26      4.22         0.58
6                        0     11.38      9.23      6.50         2.90
7                 Nintendo     14.03      9.20      2.93         2.85
8                        0     14.59      7.06      4.70         2.26
9                 Nintendo     26.93      0.63      0.28         0.47
10                Nintendo      9.07     11.00      1.93         2.75
11                       0      9.81      7.57      4.13         1.92
12                Nintendo      9.00      6.18      7.20         0.71
13                Nintendo      8.94      8.03      3.60         2.15
14                Nintendo      9.09      8.59      2.53         1.79
15  Microsoft Game Studios     14.97      4.94      0.24         1.67

    Global_Sales
0          82.74
1          40.24
2          35.82
3          33.00
4          31.37
5          30.26
6          30.01
7          29.02
8          28.62
9          28.31
10         24.76
11         23.42
12         23.10
13         22.72
14         22.00
15         21.82

In [31]:
import pandas as pd
df = pd.read_csv('vgsales.csv')
print(df.fillna(method='pad')[0:16])

    Rank                         Name Platform    Year         Genre  \
0      1                   Wii Sports      Wii  2006.0        Sports
1      2            Super Mario Bros.      NES  1985.0      Platform
2      3               Mario Kart Wii      Wii  2008.0        Racing
3      4            Wii Sports Resort      Wii  2009.0        Sports
4      5     Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing
5      6                       Tetris       GB  1989.0        Puzzle
6      7        New Super Mario Bros.       DS  2006.0      Platform
7      8                     Wii Play      Wii  2006.0          Misc
8      9    New Super Mario Bros. Wii      Wii  2009.0      Platform
9     10                    Duck Hunt      NES  1984.0       Shooter
10    11                   Nintendogs       DS  2005.0    Simulation
11    12                Mario Kart DS       DS  2005.0        Racing
12    13  Pokemon Gold/Pokemon Silver       GB  1999.0  Role-Playing
13    14                      Wii Fit      Wii  2007.0        Sports
14    15                 Wii Fit Plus      Wii  2009.0        Sports
15    16           Kinect Adventures!     X360  2010.0          Misc

                 Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
0                      NaN     41.49     29.02      3.77         8.46
1                 Nintendo     29.08      3.58      6.81         0.77
2                 Nintendo     15.85     12.88      3.79         3.31
3                 Nintendo     15.75     11.01      3.28         2.96
4                 Nintendo     11.27      8.89     10.22         1.00
5                 Nintendo     23.20      2.26      4.22         0.58
6                 Nintendo     11.38      9.23      6.50         2.90
7                 Nintendo     14.03      9.20      2.93         2.85
8                 Nintendo     14.59      7.06      4.70         2.26
9                 Nintendo     26.93      0.63      0.28         0.47
10                Nintendo      9.07     11.00      1.93         2.75
11                Nintendo      9.81      7.57      4.13         1.92
12                Nintendo      9.00      6.18      7.20         0.71
13                Nintendo      8.94      8.03      3.60         2.15
14                Nintendo      9.09      8.59      2.53         1.79
15  Microsoft Game Studios     14.97      4.94      0.24         1.67

    Global_Sales
0          82.74
1          40.24
2          35.82
3          33.00
4          31.37
5          30.26
6          30.01
7          29.02
8          28.62
9          28.31
10         24.76
11         23.42
12         23.10
13         22.72
14         22.00
15         21.82

C:\Users\Ibad\AppData\Local\Temp\ipykernel_6724\3694558316.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='pad')[0:16])

In [33]:
import pandas as pd
df = pd.read_csv('vgsales.csv')
print(df.fillna(method='bfill') [0:16])

    Rank                         Name Platform    Year         Genre  \
0      1                   Wii Sports      Wii  2006.0        Sports
1      2            Super Mario Bros.      NES  1985.0      Platform
2      3               Mario Kart Wii      Wii  2008.0        Racing
3      4            Wii Sports Resort      Wii  2009.0        Sports
4      5     Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing
5      6                       Tetris       GB  1989.0        Puzzle
6      7        New Super Mario Bros.       DS  2006.0      Platform
7      8                     Wii Play      Wii  2006.0          Misc
8      9    New Super Mario Bros. Wii      Wii  2009.0      Platform
9     10                    Duck Hunt      NES  1984.0       Shooter
10    11                   Nintendogs       DS  2005.0    Simulation
11    12                Mario Kart DS       DS  2005.0        Racing
12    13  Pokemon Gold/Pokemon Silver       GB  1999.0  Role-Playing
13    14                      Wii Fit      Wii  2007.0        Sports
14    15                 Wii Fit Plus      Wii  2009.0        Sports
15    16           Kinect Adventures!     X360  2010.0          Misc

               Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
0               Nintendo     41.49     29.02      3.77         8.46
1               Nintendo     29.08      3.58      6.81         0.77
2               Nintendo     15.85     12.88      3.79         3.31
3               Nintendo     15.75     11.01      3.28         2.96
4               Nintendo     11.27      8.89     10.22         1.00
5               Nintendo     23.20      2.26      4.22         0.58
6               Nintendo     11.38      9.23      6.50         2.90
7               Nintendo     14.03      9.20      2.93         2.85
8               Nintendo     14.59      7.06      4.70         2.26
9               Nintendo     26.93      0.63      0.28         0.47
10              Nintendo      9.07     11.00      1.93         2.75
11              Nintendo      9.81      7.57      4.13         1.92
12              Nintendo      9.00      6.18      7.20         0.71
13              Nintendo      8.94      8.03      3.60         2.15
14              Nintendo      9.09      8.59      2.53         1.79
15  Take-Two Interactive     14.97      4.94      0.24         1.67

    Global_Sales
0          82.74
1          40.24
2          35.82
3          33.00
4          31.37
5          30.26
6          30.01
7          29.02
8          28.62
9          28.31
10         24.76
11         23.42
12         23.10
13         22.72
14         22.00
15         21.82

C:\Users\Ibad\AppData\Local\Temp\ipykernel_6724\3933702038.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='bfill') [0:16])

In [41]:
import pandas as pd
import numpy as np
df = pd.read_csv('vgsales.csv')
print(df.iloc[0:16])
df['Other_Sales_minmax'] = (df['Other_Sales'] - df['Other_Sales'].min()) / (df['Other_Sales'].max() - df['Other_Sales'].min())
df['Global_Sales_minmax'] = (df['Global_Sales'] - df['Global_Sales'].min()) / (df['Global_Sales'].max() - df['Global_Sales'].min())
print("Min-Max Normalized Data:")
print(df[['Other_Sales', 'Global_Sales', 'Other_Sales_minmax', 'Global_Sales_minmax']][0:16])

    Rank                         Name Platform    Year         Genre  \
0      1                   Wii Sports      Wii  2006.0        Sports
1      2            Super Mario Bros.      NES  1985.0      Platform
2      3               Mario Kart Wii      Wii  2008.0        Racing
3      4            Wii Sports Resort      Wii  2009.0        Sports
4      5     Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing
5      6                       Tetris       GB  1989.0        Puzzle
6      7        New Super Mario Bros.       DS  2006.0      Platform
7      8                     Wii Play      Wii  2006.0          Misc
8      9    New Super Mario Bros. Wii      Wii  2009.0      Platform
9     10                    Duck Hunt      NES  1984.0       Shooter
10    11                   Nintendogs       DS  2005.0    Simulation
11    12                Mario Kart DS       DS  2005.0        Racing
12    13  Pokemon Gold/Pokemon Silver       GB  1999.0  Role-Playing
13    14                      Wii Fit      Wii  2007.0        Sports
14    15                 Wii Fit Plus      Wii  2009.0        Sports
15    16           Kinect Adventures!     X360  2010.0          Misc

   Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0        NaN     41.49     29.02      3.77         8.46         82.74
1   Nintendo     29.08      3.58      6.81         0.77         40.24
2        NaN     15.85     12.88      3.79         3.31         35.82
3   Nintendo     15.75     11.01      3.28         2.96         33.00
4   Nintendo     11.27      8.89     10.22         1.00         31.37
5   Nintendo     23.20      2.26      4.22         0.58         30.26
6        NaN     11.38      9.23      6.50         2.90         30.01
7   Nintendo     14.03      9.20      2.93         2.85         29.02
8        NaN     14.59      7.06      4.70         2.26         28.62
9   Nintendo     26.93      0.63      0.28         0.47         28.31
10  Nintendo      9.07     11.00      1.93         2.75         24.76
11       NaN      9.81      7.57      4.13         1.92         23.42
12  Nintendo      9.00      6.18      7.20         0.71         23.10
13  Nintendo      8.94      8.03      3.60         2.15         22.72
14  Nintendo      9.09      8.59      2.53         1.79         22.00
15       NaN     14.97      4.94      0.24         1.67         21.82
Min-Max Normalized Data:
    Other_Sales  Global_Sales  Other_Sales_minmax  Global_Sales_minmax
0          8.46         82.74            0.800378             1.000000
1          0.77         40.24            0.072848             0.486281
2          3.31         35.82            0.313150             0.432854
3          2.96         33.00            0.280038             0.398767
4          1.00         31.37            0.094607             0.379064
5          0.58         30.26            0.054872             0.365647
6          2.90         30.01            0.274361             0.362625
7          2.85         29.02            0.269631             0.350659
8          2.26         28.62            0.213813             0.345824
9          0.47         28.31            0.044465             0.342077
10         2.75         24.76            0.260170             0.299166
11         1.92         23.42            0.181646             0.282969
12         0.71         23.10            0.067171             0.279101
13         2.15         22.72            0.203406             0.274507
14         1.79         22.00            0.169347             0.265804
15         1.67         21.82            0.157994             0.263629

In [43]:
df['Global_Sales_standardized'] = (df['Global_Sales'] - df['Global_Sales'].mean()) / df['Global_Sales'].std()
df['Other_Sales_standardized'] = (df['Other_Sales'] - df['Other_Sales'].mean()) / df['Other_Sales'].std()

print("Standardized Data:")
print(df[['Global_Sales', 'Other_Sales', 'Global_Sales_standardized', 'Other_Sales_standardized']][0:16])

Standardized Data:
    Global_Sales  Other_Sales  Global_Sales_standardized  \
0          82.74         8.46                  52.862433
1          40.24         0.77                  25.531734
2          35.82         3.31                  22.689341
3          33.00         2.96                  20.875869
4          31.37         1.00                  19.827656
5          30.26         0.58                  19.113843
6          30.01         2.90                  18.953074
7          29.02         2.85                  18.316429
8          28.62         2.26                  18.059199
9          28.31         0.47                  17.859846
10         24.76         2.75                  15.576929
11         23.42         1.92                  14.715208
12         23.10         0.71                  14.509424
13         22.72         2.15                  14.265055
14         22.00         1.79                  13.802041
15         21.82         1.67                  13.686287

    Other_Sales_standardized
0                  44.604742
1                   3.828109
2                  17.296594
3                  15.440700
4                   5.047696
5                   2.820624
6                  15.122547
7                  14.857419
8                  11.728913
9                   2.237343
10                 14.327164
11                  9.926045
12                  3.509956
13                 11.145632
14                  9.236713
15                  8.600407