In [36]:
import pandas as pd
sheets = pd.read_excel(r'C:\Users\Ibad\Documents\sample1.xlsx', sheet_name=[0, 1])
print("Contents of Sheet 1:")
print(sheets[0])
print("\n" + "-"*40 + "\n")
print("Contents of Sheet 2:")
print(sheets[1])

Contents of Sheet 1:
   Unnamed: 0 Unnamed: 1  Unnamed: 2 Unnamed: 3
0         NaN        NaN         NaN        NaN
1         NaN        NaN         NaN        NaN
2         NaN       Name  Department   Semester
3         NaN       Ibad          SE        5th
4         NaN      Hamza          SE        5th
5         NaN     Rashid          SE        5th
6         NaN       Taqi          SE        5th
7         NaN      Arqum          SE        5th
8         NaN       Umer          SE        5th

----------------------------------------

Contents of Sheet 2:
   Unnamed: 0 Unnamed: 1  Unnamed: 2 Unnamed: 3
0         NaN        NaN         NaN        NaN
1         NaN        NaN         NaN        NaN
2         NaN        NaN         NaN        NaN
3         NaN       Name  Department   Semester
4         NaN     Sameer          SE        3rd
5         NaN    Huzaifa         BBA        1st
6         NaN       Hadi          CS        1st
7         NaN      Ammar          CS        1st
8         NaN       Ibad          SE        5th
9         NaN       Anas          CS        8th

In [16]:
import pandas as pd
data = {
    'Math': [85, 92, 78, 90, 88],
    'Science': [89, 76, 91, 85, 94],
    'English': [93, 82, 88, 79, 87],
    'History': [80, 84, 76, 88, 91]}

index_labels = ['Ali', 'Amir', 'Kamran', 'Ibad', 'Arqum']
df = pd.DataFrame(data, index=index_labels)
print(df)

        Math  Science  English  History
Ali       85       89       93       80
Amir      92       76       82       84
Kamran    78       91       88       76
Ibad      90       85       79       88
Arqum     88       94       87       91

In [17]:
import pandas as pd
file_path = r'C:\Users\Ibad\Documents\sample1.xlsx'  
df = pd.read_excel(file_path)
print(df.iloc[:, :2])

   Unnamed: 0 Unnamed: 1
0         NaN        NaN
1         NaN        NaN
2         NaN       Name
3         NaN       Ibad
4         NaN      Hamza
5         NaN     Rashid
6         NaN       Taqi
7         NaN      Arqum
8         NaN       Umer

In [18]:
import pandas as pd
file_path = r'C:\Users\Ibad\Documents\sample1.xlsx'
df = pd.read_excel(file_path, skiprows=2)
print(df)

   Unnamed: 0 Unnamed: 1  Unnamed: 2 Unnamed: 3
0         NaN       Name  Department   Semester
1         NaN       Ibad          SE        5th
2         NaN      Hamza          SE        5th
3         NaN     Rashid          SE        5th
4         NaN       Taqi          SE        5th
5         NaN      Arqum          SE        5th
6         NaN       Umer          SE        5th

In [28]:
import pandas as pd
df = pd.read_csv('lung cancer data.csv')
df['GENDER'] = df['GENDER'].fillna('No Gender')
print(df.iloc[10:31])

       GENDER  AGE  SMOKING  YELLOW_FINGERS  ANXIETY  PEER_PRESSURE  \
10          F   61        2               2        2              2
11          M   72        1               1        1              1
12          F   60        2               1        1              1
13          M   58        2               1        1              1
14          M   69        2               1        1              1
15          F   48        1               2        2              2
16          M   75        2               1        1              1
17          M   57        2               2        2              2
18          F   68        2               2        2              2
19          F   61        1               1        1              1
20          F   44        2               2        2              2
21          F   64        1               2        2              2
22          F   21        2               1        1              1
23          M   60        2               1        1              1
24          M   72        2               2        2              2
25          M   65        1               2        2              1
26          F   61        2               2        2              1
27          M   69        1               1        1              2
28  No Gender   53        2               2        2              1
29          M   55        1               2        1              1
30          F   57        2               2        1              1

    CHRONIC DISEASE  FATIGUE   ALLERGY   WHEEZING  ALCOHOL CONSUMING  \
10                2         2         1         2                  1
11                2         2         2         2                  2
12                1         2         1         1                  1
13                1         2         2         2                  2
14                1         1         2         2                  2
15                2         2         2         2                  1
16                2         1         2         2                  2
17                2         1         1         1                  2
18                2         2         1         1                  1
19                2         2         1         1                  1
20                2         2         1         1                  1
21                1         1         2         2                  1
22                2         2         2         1                  1
23                1         2         2         2                  2
24                2         1         2         2                  2
25                1         2         1         2                  2
26                1         2         2         1                  2
27                1         2         1         2                  1
28                2         1         1         2                  2
29                1         2         1         2                  2
30                1         1         1         1                  1

    COUGHING  SHORTNESS OF BREATH  SWALLOWING DIFFICULTY  CHEST PAIN  \
10         2                    2                      2           1
11         2                    2                      1           2
12         1                    2                      1           1
13         2                    2                      1           2
14         2                    1                      1           2
15         2                    2                      2           1
16         2                    2                      1           2
17         1                    1                      2           2
18         2                    2                      1           1
19         1                    2                      1           1
20         1                    2                      2           1
21         2                    1                      2           1
22         1                    2                      1           1
23         2                    2                      1           2
24         2                    1                      2           2
25         2                    2                      2           2
26         1                    2                      2           2
27         2                    2                      1           2
28         1                    2                      2           2
29         2                    2                      1           1
30         1                    2                      1           1

   LUNG_CANCER
10         YES
11         YES
12          NO
13         YES
14          NO
15         YES
16         YES
17         YES
18         YES
19          NO
20         YES
21         YES
22          NO
23         YES
24         YES
25         YES
26         YES
27          NO
28         YES
29          NO
30          NO

In [37]:
import pandas as pd
import numpy as np

data = {'Age': [25, 36, 30, 27, 38, 42, 34],
        'Salary': [42000, 50000, 45000, 43000, 51000, 62000, 48000]}

df = pd.DataFrame(data)
df['Age_minmax'] = (df['Age'] - df['Age'].min()) / (df['Age'].max() - df['Age'].min())
df['Salary_minmax'] = (df['Salary'] - df['Salary'].min()) / (df['Salary'].max() - df['Salary'].min())

print("Min-Max Normalized Data:")
print(df[['Age', 'Salary', 'Age_minmax', 'Salary_minmax']])

Min-Max Normalized Data:
   Age  Salary  Age_minmax  Salary_minmax
0   25   42000    0.000000           0.00
1   36   50000    0.647059           0.40
2   30   45000    0.294118           0.15
3   27   43000    0.117647           0.05
4   38   51000    0.764706           0.45
5   42   62000    1.000000           1.00
6   34   48000    0.529412           0.30

In [38]:
df['Age_standardized'] = (df['Age'] - df['Age'].mean()) / df['Age'].std()
df['Salary_standardized'] = (df['Salary'] - df['Salary'].mean()) / df['Salary'].std()

print("Standardized Data:")
print(df[['Age', 'Salary', 'Age_standardized', 'Salary_standardized']])

Standardized Data:
   Age  Salary  Age_standardized  Salary_standardized
0   25   42000         -1.330145            -0.990994
1   36   50000          0.466718             0.189765
2   30   45000         -0.513389            -0.548209
3   27   43000         -1.003443            -0.843399
4   38   51000          0.793420             0.337360
5   42   62000          1.446825             1.960903
6   34   48000          0.140015            -0.105425

In [35]:
data_dict = {
    'First Score': [100, 90, np.nan, 95],
    'Second Score': [30, 45, 56, np.nan],
    'Third Score': [np.nan, 40, 80, 98]
}

df_scores = pd.DataFrame(data_dict)
df_scores_interpolated = df_scores.bfill()
print("Interpolated Data:")
print(df_scores_interpolated)

Interpolated Data:
   First Score  Second Score  Third Score
0        100.0          30.0         40.0
1         90.0          45.0         40.0
2         95.0          56.0         80.0
3         95.0           NaN         98.0